.keyboard-output {
    font-size: 32px;
    height: 40vh;
    text-align: left;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    background-color: #f8f9fac0;
    border: 1px solid #e9ecef;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 26px;
    resize: none;
    overflow: auto;
}
